header {
  width:100%;
  height:100px;
  border-bottom: 2px solid black;
}
.title h1{
  padding-left: 30px;
  float:left;
  color:black;
  font-size:100px;
  font-family:'Courier New';
  margin-top: 0;

}
.headerright li {
  margin:50px 30px 0px 10px;
  float:right;
  color:black;
  border-left:5px solid black;
  font-size: 25px;

}
 ul :hover {
  opacity: 0.5;
  cursor: pointer;

}
li {
  list-style:none;
}
.main h1 {
  max-width: 50%;
  margin: 0 auto;
  text-align:center;
  padding-top: 30px ;
  border-bottom:dotted 3px black;
}
.main div {
  text-align: center;
  padding: 20px;


}
.main p {
  max-width: 50%;
  text-align:center;
  padding:0 350px;
  margin-bottom: 30px;
}
footer {
  background-color:gray;
  height:200px;

}
@import url('https://fonts.googleapis.com/css?family=Sacramento');

.footer {
  font-size: 50px;
  font-family: 'Sacramento', cursive;

}
.footer h1 {
  float:left;
}
.footer h2 {
  float: right;
  font-size: 20px;
  padding-top: 160px;
}
html{
  height:100%;
}

body{
  height:100%;
}
